.NavBar_Container {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
    /* Used FlexBox properties to position divs */

    background-color: #CE1141;
    /* border: 2px solid black; */
    height: 8vh;
}