.NavBar_Container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    
    /* Used FlexBox properties to position divs */

    background-color: #CE1141;
    /* border: 2px solid black; */
    height: 8vh;
}

.Link_Properties {
    text-decoration: none;
}

.Link_Text {
    color: white;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    letter-spacing: 0.1ch
}