.LogoBar_Container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    
    /* Used FlexBox properties to position divs */

    background-color: #13274F;
    /* border: 2px solid black; */
    height: 8vh;
}

.Tomahawk_Logo {
    height: 48px;
    margin-left: 8%
}

.Braves_Logo {
    height: 60px;
    margin-right: 8%
}
