.AuthBar_Container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    
    /* Used FlexBox properties to position divs */

    background-color: #EEEEEE;
    /* border: 2px solid black; */
    height: 4vh;
}

.MLB_Logo {
    height: 14px;
    margin-left: 9.5%
}

.Offical_Text {
    color: black;
    font-size: 11px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    letter-spacing: 0.1ch;
    margin-right: 1%
}

.Blank_Profile_Logo {
    height: 20px;
    margin-right: 10.5%
}