.Home_Container {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    
    /* Using FlexBox properties to position divs */

}

.Background_Image {
    height: 100vh;
    width: 98.9vw;
    z-index: -1;
}

.Inner_Container {
    /* border: 2px solid white; */
    /* background-color: ghostwhite; */
    height: 605px;
    width: 76%;
    margin-top: -40%;
    z-index: 1;
}